.course-banner {
  content: "";
  position: relative;
  background-image: url("/course-banner.jpg");
  background-color: rgb(31, 31, 89);
  background-blend-mode: multiply;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
  padding: 20px;
}
