PORT=5001
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/lifecoach
JWT_SECRET=your-super-secret-jwt-key-min-32-chars
CLIENT_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_51AMR5jH6mDy2JJcoOG8RfsKm3rtdKmUVuRoPk9TfmTuEl1JIvorfuGVnowKvdDiRUJmB33LS4fuxzMYjdzwotOne00kBMWhgjE
STRIPE_WEBHOOK_SECRET=whsec_8cfe6e4a7375c3619f0c0c9b2a3e0393f324866ab194a083ddf52da139ac6f87